<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tcashome</title>
    <link rel="stylesheet" type="text/css" href="bootstyle.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
    <!-- navbar -->
    <nav class="navbar navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand logo1" href="boothome.html">TCASsTudy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title logo1" id="offcanvasNavbarLabel">TCASsTudy</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link logo active" aria-current="page" href="boothome.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logo" href="bootport.html">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logo" href="bootquota.html">QUOTA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logo" href="bootround3.html">ADMISSION (Round 3)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logo" href="bootround4.html">DIRECT ADMISSION (Round 4)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logo" href="bootgatpat.html">ALL Intermediate Exam for TCAS65 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text2" href="bootmedical.html">กสพท</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text2" href="bootuseSID.html">การบริหารจัดการสิทธิ์ในระบบ TCAS65</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logo" href="bootform.html">CONTACT US</a>
              </li>
          </div>
        </div>
      </div>
    </nav>
    <!-- navbar -->
</head>

<body>
  <br><br>
  <div class="container">
    <!-- Middle image -->
    <a href="https://www.mytcas.com/news/announcement-61"><img src="img/t1.jpg" class="img-fluid" alt="Responsive image"></a>
    <!-- Middle image -->
    <hr>
    <div class="jumbotron">
      <img class="d-block w-50 " src="img/t5.jpg">
      <h1 class="display-4 text3">รีวิวฉบับย่อ!!!</h1>
      <p class="lead text2">แต่ละคณะเรียนเกี่ยวกับอะไร เข้าใจได้ใน 3 บรรทัด!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg logo1" href="https://www.dek-d.com/tcas/50430/" role="button">Learn more</a>
      </p>
    </div>
    
    <hr>
    <!-- Card -->
    <h1 class="text3">บทความ</h1>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="img/t2.png" alt="Card image cap">
        <div class="card-body">
          <a href="https://school.dek-d.com/blog/featured/5tricks-tcas/"><h5 class="card-title text2">5 ทริค พิชิต TCAS</h5></a>
          <p class="card-text text1">ใครไม่รู้จะเริ่มเตรียมตัวยังไงดี งั้นมาดู 5 เทคนิค พิชิต TCAS กัน ฟิตตอนนี้ยังทัน ไม่พลาดคณะในฝันชัวร์‼</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/t3.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="https://www.triamdomeonline.com/courses/8"><h5 class="card-title text2">Mock Interview ทริคการสอบสัมภาษณ์</h5></a>
          <p class="card-text text1">ใครไม่รู้จะเริ่มเตรียมตัวยังไงดี งั้นมาดู 5 เทคนิค พิชิต TCAS กัน ฟิตตอนนี้ยังทัน ไม่พลาดคณะในฝันชัวร์‼</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="img/t4.jpg" alt="Card image cap">
        <div class="card-body">
          <a href="https://www.triamdomeonline.com/courses/8"><h5 class="card-title text2">6 ทริค ยืดเวลาอ่านหนังสือให้ยาวนานขึ้น เตรียมสอบรอบนี้อ่านทันแน่นอน!</h5></a>
          <p class="card-text text1">มาจัดการอ่านให้ครบได้ง่ายๆ ด้วยทริคดีๆ รับรองว่าจะชวนให้น้องๆ อ่านหนังสือได้ยาวนานขึ้น อึดขึ้น แถมจำได้แม่นๆ อีกด้วยนะ ตามไปดูกันเลย!</p>
        </div>
      </div>
    </div>
     <!-- Card -->
     <hr>
  </div>
</body>

<footer>
  <br>
    <p class="text-center nav1">Copyright 2021 TCASsTudy.com</p>
  
</footer>
</html>