<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" type="text/css" href="css/stylev.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <!-- End Loging form -->
  <nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="img/imgv/logo_transparent.png" width="100" height="100" alt="">
          </a>
    <div class="collapse navbar-collapse nav justify-content-end navi" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
             <ul class="dropdown-menu">
                <li><a href="/aboutus" class="dropdown-item">About Us</a></li>
                 <li><a href="/contactus" class="dropdown-item">Contact Us</a></li>
              </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Apply</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Sign In</a>
        </li>
      </ul>
    </div>
</div>
</nav>

</head>
<body>
    <br><br><br><br><br><br>
  <div class="container" >
    <!-- Middle image -->
    <h1 class="text-center display-3 fw-bold text-muted ">CONTACT US</h1>
    <div class="bg-contact">
    <img src="img/imgv/contactus.jpg" width="85%"  class="img-fluid text-align-center" alt="Responsive image">
    </div>
    <br><br>
    <h5 class="text-center  mb-2">"Power Volunteers is based in USA. Our office hours are 8am to 5pm, Monday to Friday."</h5>
    <br><br>
    <h1 class="text-left  mb-2">Email Us</h1>
    <p class="text-left  mb-2">The best way to reach us is by email. 
      Message us and we'll be happy to help :)</p>
     <br><br>
    
     <form class="needs-validation" novalidate method="POST" action="/api/user/add-users-api"
            nctype="multipart/form-data">
            <div class="form-row">

              <div class="col-md-5 mb-5">
                <label for="validationCustom01">Name-Surname</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Name"
                  name="user_namecontact" required>
              </div>

              <div class="col-md-5 mb-5">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="user_emailcontact"
                  required>
              </div>

              <div class="col-md-12 mb-12">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Messages</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name="user_message"
                    required></textarea>
                </div>
                <br>
              </div>
              <br><br>
              <div class="col-md-12 mb-12">
                <input class="btn btn-primary" type="submit"></input>
              </div>


            </div>
     </form>









  </div>





  <hr>
   

</body>
</html>