<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/stylev.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>

  <title>Volunteer</title>
  <nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../img/imgv/logo_transparent.png" width="100" height="100" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav justify-content-end navi" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
            <ul class="dropdown-menu">
              <li><a href="/aboutus" class="dropdown-item">About Us</a></li>
              <li><a href="/contactus" class="dropdown-item">Contact Us</a></li>
              <li><a href="/howtowork" class="dropdown-item">How to work</a></li>
              <li><a href="/allprogram" class="dropdown-item">All Programs</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/apply">Apply</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</head>

<body>

  <br><br><br>
    <!-- Middle image -->
    <img src="../img/imgv/VolunteerBannerFull.jpg" class="img-fluid text-align-center" alt="Responsive image">
    <br><br>

  <div class="container">
    
    <h2 class="text-left display-2 fw-bold text-des text-danger"></h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            The Childcare Programs
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Open now!!!</strong>
            <strong>Kenya has reopened to international arrivals and programs in Nairobi have resumed. See the
              'Additional Info.' section for procedures in place during the pandemic.</strong>
            <p>The mission of this program is about offering vulnerable children in the community a level of care that
              they do not receive at home, either because they come from poorer families or they live at the centers</p>
            <br>
            <strong>Goals of this projects.</strong>
            <p>Provide essential childcare to vulnerable children in Nairobi
              Improve the future prospects of the children in Kenya</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How you can help?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Volunteers play an essential role in helping disadvantaged children through this program.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Requirements
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Love Volunteers welcomes all those 18 years and over who wish to assist in the ongoing support and
              development of marginalized and at-risk children of Kenya.</p>
            <br>
            <strong>Additionally, volunteers applying to join this program will be required to supply to following
              documentation:</strong>
            <p>Emergency contact
              Passport
              Police check</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Project Location
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Situated on the Nairobi River, the city of Nairobi is not only the largest and fastest growing city in
              Kenya,</p>
            <br>
            <p>The Nairobi city centre is relatively small at just 1 kilometre square, making it easy to get around on
              foot.</p>
            <br>
            <p>The city is filled with many things to do during the day and the night. Visitors can have their pick from
              numerous safaris</p>
            <br>
            <p>Nairobi National Park, just outside Nairobi, is home to large herds of Zebra, Wildebeest, Buffalo,</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Start Dates & Duration
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>This project is available year-round and programs start every TUESDAY.</p>
            <br>
            <p>Spaces on this project are limited and therefore subject to availability. Early booking is recommended.
            </p>
            <br>
            <p>For current available start dates please check the calendar on the right.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Arrival & Orientation
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Upon arrival into Nairobi volunteers will be collected by a representative of the local project team</p>
            <br>
            <p>Program Arrival Day: TUESDAY
              Program Departure Day: TUESDAY</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Accommodation & Meals
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Volunteers on this program are accommodated within a large and spacious volunteer house,</p>
            <br>
            <p>While the accommodation is basic, this is part of the challenge and experience of volunteering in a
              developing country.</p>
            <br>
            <p>The public transport widely used in Nairobi are vans called 'Matatus'</p>
            <br>
            <p>Volunteers are provided 2 meals per day (breakfast and dinner) at the volunteer house</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Fees
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>*In addition to the program fees listed above a Registration Fee is payable to secure your place.</p>
            <br>
            <p>Some things are not included in the program fees listed above, such as flights,</p>
            <br>
            <p>Please note that prices are subject to change without notice.</p>
          </div>
        </div>
      </div>
    </div>
   
  </body>
    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted;">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem "></i>About Us
              </h6>
              <p>
                Our website collects places around the world that need help and volunteers can find for places that they
                want to go , providing opportunities to help those in need and enhance the quality of life in that
                places.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Blogs
              </h6>
              <p>
                <a href="#!" class="text-reset">United State</a>
              </p>
              <p>
                <a href="#!" class="text-reset">France</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Thailand</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Vietnam</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem "></i>Customer Relationship
              </h6>
              <p>
                20 RAKAU GROVEES, STOKES VALLEY, WELLINGTON, NEW ZEALAND
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contact Us
              </h6>
              <p><i class="fas fa-home me-3"></i> WELLINGTON, NEW ZEALAND</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                nattinee.nu@gmail.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->


</html>