@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Source+Serif+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body{
  font-family: 'Poppins', serif;
}
.navi {
    font-family: 'Poppins', serif;
    font-size: 22px;
    color: black;
    margin-right: 20px;
    text-align: right;
}
.h2 {
    font-family: 'Poppins', serif;
    font-size: 15px;
    color: black;
}
.h3 {
    font-family: 'Poppins', serif;
    font-size: 100px;
    color: rgb(17, 0, 255);
}
body {
  font-family: 'Poppins', serif;
    background-color:  #eee;
  }
  .title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
  
  .btn {
    margin-top: auto;
  }
  
  .card-wrapper {
    margin: 5% 0;
  }
  
  /* You can adjust the image size by increasing/decreasing the width, height */
  .custom-circle-image {
    width: 20vw; /* note i used vw not px for better responsive */
    height: 20vw;
  }
  
  .custom-circle-image img {
    object-fit: cover;
  }
  
  .card-title {
    letter-spacing: 1.1px;
  }
  body {
	font-family: 'Montserrat', sans-serif;
	text-rendering : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
}


#login-bg.container-fluid {
	padding: 0;
	height: 130%;
	position: absolute;
}

/* Background image an color divs*/


.bg-img {
	background-image: url(../img/imgv/v7.jpg);
	background-size: cover;
	vertical-align: center;
	height: 130%;
	/* display: inline-block;
	overflow: hidden; */
}

#login{
	padding-top: 10%;
	text-align: center;
	text-transform: uppercase;
}


.login {
	width: 100%;
	height: 550px;
	background-color: #fff;
	padding: 15px;
	padding-top: 30px;
}


.login1 {
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 15px;
	padding-top: 30px;
}

.login h1 {
	margin-top: 30px;
  font-family: 'Montserrat', serif;
  font-size: 50px;
	font-weight: bold;
	letter-spacing: 3px;
}

.login form {
	max-width: 420px;
	margin: 30px auto;
}

.login .btn {
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 15px;
	padding: 14px;
	background-color: #d70656;
}

.form-group input {
	font-size: 20px;
	font-weight: lighter;
	border: none;
	background-color: #F0F0F0;
	color: #000000!important;
	padding: 26px 30px;
	border-radius: 50px;
	transition : 0.2s;
}


/* Media queries */

@media(max-width: 500px) {
	.bg-img , .bg-color {
	min-width: 100%;
	height: 50%;
	margin: 0;
	}

	.forgot-password {
	text-align: right;
	float: left;
	padding: 20px 0;
	}

	#login {
		padding-top: 50px;
	}

}

.btnsize{
  font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    color: black;
}

.bg-contact{
  padding-left: 180px; 
}
.img-about{
  padding-left: 240px;
}
.img-apply{
  padding-left: 140px;
}
.img-pro{
  width: 40px;
  height: 40px;
  
}
aside {
  width: 30%;
 
  float: right;
  
}
.apply_program{
  width: 600px;
}
.apply_destination{
  width: 600px;
}
.apply_duration{
  width: 600px;
}
.formpaydate{
  width: 600px;
}
.formtimepay{
  width: 600px;
}
.form-controlamount{
  width: 600px;
}

.num-container {
  border-radius: 360;
  background-color: #e19898;
  width: 250;
  height: 250;
}


.hd1 {
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
} 
.pich1 {
 width: 200px;
}
.hd2 {
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
} 
.pich2 {
 width: 200px;
}
.hd3{
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
} 
.pich3 {
 width: 200px;
}

.hd4{
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
} 
.pich4 {
 width: 200px;
}
.hd5{
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
} 
.pich5 {
 width: 200px;
}
.hd6{
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
}  
.pich6 {
 width: 200px;
}
.hd7{
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
} 
.pich7 {
 width: 200px;
}
.hd8{
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
}  
.pich8 {
 width: 200px;
}
.hd9{
  padding-left: 100px;
  padding-top: 80px;
  font-size: 20px;
}  
.pich9 {
 width: 200px;
}

.icon{
  width: 60px;
  height: 60px;

}
.icon1{
  width: 40px;
  height: 40px;
  margin-top: 1%;
}

.icon2{
  width: 30px;
  height: 30px;

}
.icon3{
  width: 50px;
  height: 50px;

}

.n1 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 10%;
} 
.n2 {
  margin-top: 20px;
  margin-right: 300px;
  font-size: 18px;
  line-height: 10%;
} 


.b1{
  margin-left: 80%;
  margin-top: 400px;
}

.imgsize{
  width: 150%;
  height: 150%;
  margin-top: 80px;
}

.topic{
  line-height: 5%;
  margin-top: 50px;
 
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
 
}

a:hover {
  background-color: #ddd;
  color: black;
  
}

.previous {
  background-color: #f1f1f1;
  color: black;
  
}

.next {
  background-color: #04AA6D;
  color: white;
  
}

.round {
  border-radius: 50%;
}

.square{
  height: 800px;
}

.text-des{
  font-size: 30px;
  font-family: Poppins;
}

.text1-des{
  font-size: 18px;
  font-family: Poppins;
}

.cardtitle{

  font-size: 20px;
  font-family: Poppins;
}

.cardbody{
  font-size: 15px;
  font-family: Poppins;
}

.cardbody1{
  font-size: 15px;
  font-weight: 1000;
  font-family: Poppins;
}

.cardbody2{
  font-size: 40px;
  font-weight: 1000;
  font-family: Poppins;
}

.cardbody3{
  font-size: 40px;
  font-weight: 1000;
  font-family: Poppins;
}

.imgsize1{
  width: 10%;

}

.topicC{
  font-size: 30px;
  font-family: Poppins;
}

.apply_amountpay{
  width: 600px;
}